.home__container{
    gap: 1rem;

}

.home__content{
    grid-template-columns: .5fr 3fr;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__blob{
    width: 300px;
    fill: var(--first-color);
}

.home__blob-img{
    width: 26rem;
    height: 42rem;
}

.home__data{
    grid-column: 1/3;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.home__scroll{
    /*display:flex;*/
}

.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 1.25rem;
}

.button{
    display: inline-block;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--first-color);
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

/*Sobre mim*/

.about__img{
    width: 250px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    margin-top: -165px;

}

.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.-title{
    font-size: var(--h2-font-size);
    justify-content: space-evenly;
    color: var(--first-color);
    display: block;
    text-align: center;
}

.-name{
    font-size: var(--smaller-font-size);
}

.about__title,.-name{
    display: block;
    text-align: center;
}

/*Habilidades*/

.__container{
    row-gap: 0;
}

.__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.__icon,.__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.__icon{
    margin-right: var(--mb-0-75);
}

.__title{
    font-size: var(--h3-font-size);
}

.__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.section__container{
    text-align: center;
    display: block;
}

.__arrow{
    margin-left: auto;
    transition: .4s;
}

.__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.__bar,.__percentage{
    height: 5px;
    border-radius: .5rem;
}

.__bar{
    background-color: var(--first-color-lighter);
}

.__percentage{
    display: block;
    background-color: var(--first-color);
}


.__close .__list{
    height: 0;
    overflow: hidden;
}

.__open .__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.__open .__arrow{
    transform: rotate(-180deg);
}

/*Skills*/

.skills__container {
    row-gap: 3.5rem;
}

.skills__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;

    margin-bottom: 2.5rem;
}

.skills__title i {
    font-size: 2.5rem;
    font-weight: initial;
}

.skills__content {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 2.5rem 2rem;
}

.skills__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills__blob {
    width: 80px;
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.skills__blob img {
    width: 40px;
}



/*Formação/qualificação*/

.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder{
    display: inline-block;
    width: 80px;
    height: 6px;
    background-color: var(--first-color);
    border-radius: 15px;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

/*Serviços*/

.services__container{
    gap: 1.5rem;
    grid-template-columns: repeat(1fr 1fr);
}

.services__content{
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}

.services__content:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);

}

.services__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

.services__button:hover .button__icon{
    transform: translateX(.25rem);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity:none;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-services{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
}

.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

.active-modal{
    opacity: 100;
    visibility: visible;
}


/*Rodapé*/

footer{
    background-color: #986dff;
    color: whitesmoke;
    display: ruby-text;
    height: 6vh;
}

/*Scroll up*/


.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    font-size: 2rem;
    color: black;
}

.show-scroll{
    bottom: 5rem;
}

.language{
    display: contents;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
